* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    color: #fff;
}
html {
  scroll-behavior: smooth;
}

/* --- NAVBAR --- */
header {
    width: 100%;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo span {
    color: #ff2e76;
}

nav a {
    position:relative;
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: .3s;
}

    nav a::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      background: #ff2e76;
;
      left: 0;
      bottom: -5px;
      transition: 0.3s;
    }

    nav a:hover::after {
      width: 100%;
    }
/* --- NAVBAR --- */

/* --- HERO SECTION --- */
.hero {
    width: 100%;
    height: 100vh;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.hero-text {
    max-width: 600px;
    margin-bottom: 100px;
}

.job {
    font-size: 30px;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
}

.hero-text span {
    color: #ff2e76;
}

.hero-img img {
    width: 460px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 140px;

}
/* --- HERO SECTION --- */

/* --- about SECTION --- */
        .container-about {
            display: flex;
            gap: 60px;
            padding: 40px;
            border-radius: 20px;
        }

        .profile img {
            width: 300px;
            height: 380px;
            object-fit: cover;
            border-radius: 20px;
            margin-top: 100px;
            
        }

        .about-section {
            max-width: 500px;
            margin-bottom: 100px;
        }

        .about-section h2 {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: 50px;
            margin-left: 70px;
        }
         
        .about-section{
         margin-left: 30px;
        }

        .about-section p {
            font-size: 18px;
            color: #cfcfcf;
            margin-bottom: 20px;
            line-height: 1.7;
        }

        .tabs {
            display: flex;
            gap: 25px;
            margin-bottom: 20px;
            margin-top: 40px;
        }

        .tab {
            font-size: 22px;
            cursor: pointer;
            color: #9b9b9b;
            transition: 0.3s;
        }
             .tab-details{
                line-height: 40px;
             }
        .tab.active {
            color:  #ff2e76;
;
            border-bottom: 2px solid #ff2e76;
            padding-bottom: 5px;
        }

        .content {
            font-size: 15px;
            color: #cfcfcf;
        }

        .hidden {
            display: none;
        }
/* --- about SECTION --- */

/* --- service SECTION --- */
          .card-container{
            width: 100%;
            height: 100vh;
            
          }
        
          .my-services h2{
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 80px;
            margin-left: 110px;
        
}           

        .services {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 20px;
            margin-bottom: 70px;
        }
           
        .card {
            background: rgb(26, 25, 25);
            padding: 30px;
            border-radius: 16px;
            transition: 0.3s;
            cursor: pointer;
            border: 2px solid transparent;
            width: 370px;
            height: 350px;
            margin-left: 20px;
        
            
        }

        .card.active {
            background: rgb(255,20,147);
            border: 2px solid rgb(255,20,147);
        }

        .card:hover {
            transform: translateY(-6px);
        }

        .icon {
            font-size: 40px;
            margin-bottom: 15px;
        }
        
        .card h3 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .card p {
            font-size: 15px;
            color: #cfcfcf;
            margin-bottom: 15px;
        }

        a.learn {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
/* --- service SECTION --- */

/* --- work SECTION --- */
          .text h2{
        font-size:35px;
        margin-bottom:30px;
        color:white;
        margin-left: 130px;
    }

    .cart-containerr{
        display:flex;
        gap:27px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .cart{
        width:350px;
        height:400px;
        overflow:hidden;
        position:relative;
        border-radius:10px;
        box-shadow:0 4px 12px rgba(0,0,0,0.15);
        cursor:pointer;
        border: 2px solid white;
    }

    .cart img{
        width:100%;
        height:100%;
        object-fit:cover;
        display:block;
    }

    .overlay{
        position:absolute;
        bottom:-100%;
        left:0;
        width:100%;
        height:100%;
        background:linear-gradient(to top, rgba(255,20,147,0.9), rgba(216, 69, 147, 0.3));
        justify-content:center;
        align-items:center;
        color:#fff;
        font-size:18px;
        font-weight:bold;
        transition:bottom 0.5s ease-out;
        margin-top: 20px;
    }
    .overplay h3{
        margin-top: 40px;
    }

    .cart:hover .overlay{
        bottom:0;
    }
    .btn{
        background:transparent;
        border:2px solid rgb(255,20,147);
        font-size:16px;
        padding:10px 25px;
        border-radius:7px;
        color:#fff;
        transition:all .3s ease;
        cursor:pointer;
        text-transform:capitalize;
        margin-left: 600px;
        margin-bottom: 20px;
    }

    .btn:hover{
        background:rgb(255,20,147);
        color:#fff;
    }
/* --- work SECTION --- */



/* --- message SECTION --- */
    .contact-section{
        width:100%;
        height:90vh;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:40px 80px;
    }

    .left-box{
        display:flex;
        flex-direction:column;
        gap:20px;
        max-width:40%;
    }

    .left-box h2{
        font-size:40px;
        color:white;
        margin-bottom:20px;
    }

    .info{
        display:flex;
        flex-direction:column;
        gap:15px;
        font-size:18px;
    }

    .info-item{
        display:flex;
        align-items:center;
        gap:10px;
    }

    .info-item i{
        color:#ff2e93;
        font-size:22px;
    }

     a{
        text-decoration: none;
     }
    a span{
        color: white;
        cursor: pointer;    
    }
    a span::after{
        color: blue;
        cursor: pointer;
    }

    .socials{
        display:flex;
        gap:15px;
        margin-top:20px;
    }

    .socials a{
        width:45px;
        height:45px;
        border-radius:50%;
        border:2px solid #ff2e93;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:20px;
        color:#ff2e93;
        transition:0.3s;
        text-decoration: none;
    }

    .socials a:hover{
        background:#ff2e93;
        color:white;
        transform:scale(1.1);
    }

    .cv-btn{
        margin-top:20px;
        width:160px;
        padding:12px 15px;
        background:transparent;
        border:2px solid rgb(255,20,147);
        border-radius:8px;
        font-weight:bold;
        font-size:16px;
        color:white;
        cursor:pointer;
        transition:0.3s;
    }

    .cv-btn:hover{
        background:rgb(255,20,147);
        color:#fff;
        transform:scale(1.05);
    }

    .right-box{
        width:50%;
        display:flex;
        flex-direction:column;
        gap:20px;
    }

    input, textarea{
        width:100%;
        background:#2b2b2b;
        border:none;
        border-radius:10px;
        padding:15px;
        color:white;
        font-size:16px;
    }

    textarea{
        height:200px;
        resize:none;
    }


    .submit-btn{
        width:110px;
        padding:8px 12px;
        background:transparent;
        border:2px solid #ff2e93;
        border-radius:8px;
        color:white;
        font-weight:bold;
        cursor:pointer;
        transition:0.3s;
    }

    .submit-btn:active{
        background:#ff2e93;
        color:#fff;
        transform:scale(1.05);
    }

    .success-message {
    color: #4CAF50; /* green */
    font-weight: bold;
    display: none;
    text-align: center;
    margin-bottom: 10px;
}

    .footer{
        width:100%;
        text-align:center;
        padding:10px 0;
        font-size:14px;
        color:#ccc;
        border-top:1px solid rgba(255,255,255,0.1);
    }
/* --- message SECTION --- */


